<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FaraBotModerator.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FaraBotModerator.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FaraBotModerator.Properties.Settings>
            <setting name="RefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="expiresDateTime" serializeAs="String">
                <value>01/01/2023 12:00:00</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="OAuth2State" serializeAs="String">
                <value />
            </setting>
        </FaraBotModerator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FaraBotModerator.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>10778</value>
            </setting>
            <setting name="BotName" serializeAs="String">
                <value>FaraBot</value>
            </setting>
        </FaraBotModerator.Properties.Settings>
    </applicationSettings>
</configuration>